/* original coding */
body {
    margin: 0;
    padding: 0;
}

.nav {
    background-color: #A6D5A9;
    color: #18551B;
    list-style: none;
    text-align: center;
}

.nav > li {
    display: inline-block;
    border: 2px solid #18551B;
    padding: 15px 25px 15px 25px;
    position: relative;
}

.nav > li > a {
    text-decoration: none;
    color: #18551B;
}

nav a:link {
    background-color: #A6D5A9;
    text-decoration: none;    
}

nav a:hover, nav a:focus {
    color: black;
}

nav ul > li ul {
    border: 2px solid #18551B;
    padding: 15px 25px 15px 25px;
    margin-top: 0;
    margin-left: 100%;
    display: none;
}

nav ul > li:hover > ul {
    display: block;
    position: absolute;
    left: 100px;
    background-color: #A6D5A9;
    margin:0;
}

nav ul > li:hover > ul li a:link{
    display: block; margin-left: -30px;
}