/* original coding */
body {
    margin: 0;
    padding: 0;
}

.nav {
    background-color: #A6D5A9;
    color: #18551B;
    list-style: none;
    text-align: center;
}

.nav > li {
    display: inline-block;
    border: 2px solid #18551B;
    padding: 15px 25px 15px 25px;
    position: relative;
}

.nav > li > a {
    text-decoration: none;
    color: #18551B;
}

nav a:link {
    background-color: #A6D5A9;
    text-decoration: none;    
}

nav a:hover, nav a:focus {
    color: white;
}

nav ul > li ul {
    border: 2px solid #18551B;
    padding: 15px 25px 15px 25px;
    margin-top: 0;
    margin-left: 100%;
    display: none;
}

nav ul > li:hover > ul {
    display: block;
    position: absolute;
    align: center;
    background-color: #A6D5A9;
    margin:0;
}

nav ul > li:hover > ul li a:link{
    display: block; margin-left: -10px;
} 


/* added basic styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}
nav {
    background: #A6D5A9;
    padding: 0 15px;
} 
a {
    color: #18551B;
    text-decoration: none;
}
.menu,
.submenu {   
    list-style-type: none;
}
.item {
    padding: 10px;
} 
.item.button {
    padding: 9px 5px;
} 
.item:not(.button) a:hover,
.item a:hover::after {
    color: white;
}

/* Mobile menu */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.menu li a {
    display: block;
    padding: 15px 5px;
}
.menu li.subitem a {
    padding: 15px;
}
.toggle {
    order: 1;
    font-size: 20px;
}
.item {
    order: 2;
    width: 100%;
    text-align: center;
    display: none;
}
.active .item {
    display: block;
}
.button.secondary { /* divider between buttons and menu links */
    border-bottom: 1px #444 solid;
}

/* Submenu up from mobile screens */
.submenu {
    display: none;
}
.submenu-active .submenu {
   display: block;
}
.has-submenu i {
    font-size: 12px;
}
.has-submenu > a::after {
    font-family: "Font Awesome 5 Free";
    font-size: 12px;
    line-height: 16px;
    font-weight: 900; 
    content: "\f078";
    color: #185518;
    padding-left: 5px;
}
.subitem a {
    padding: 10px 15px;
}
.submenu-active {
    background-color: #A6D5A9;
    border-radius: 3px;
}

/* Desktop menu */
@media all and (min-width: 960px) {
    .menu {
        align-items: flex-start;     
        flex-wrap: nowrap;
        background: none;
    }
    .item {
        order: 1;
        position: relative;
        display: block; 
        width: auto;
    }
    .submenu-active .submenu {
        display: block;
        position: absolute;
        left: 0;
        top: 68px;
        background: #A6D5A9;
    }
    .toggle {
        display: none;
    }
    .submenu-active {
        border-radius: 0;
    }
}