body {
    margin: 0;
    padding: 0;
}

.nav {
    background-color: #A6D5A9;
    color: #18551B;
    list-style: none;
    text-align: center;
    padding: 15px 15px 15px 25px;
}

.nav > li {
    display: inline-block;
    padding-right: 50px;
}

.nav > li > a {
    text-decoration: none;
    color: #18551B;
}